* {
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    overflow-x: hidden;
}

H1, H2, H3, H4, H5, H6 {
    color:rgb(9, 78, 124);
}

p, span {
    color: rgb(50, 50, 50);
}

ul li {
    color: white;
    padding-top: 8px;
}

strong {
    color:rgb(9, 103, 166);
}

hr {
    width: 70%;
    border-color: rgb(22, 156, 246);
}

#navBar {
    background-color: rgb(9, 78, 124); 
    padding: 10px; 
    border-radius: 5px;
}

#navBar span {
    color: white;
}

#titleFull {
    display: block;
}

.dropdownMenu {
    background-color: rgb(9, 78, 124);
    width:100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-5px;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.dropdownMenuItem {
    padding:10px;
}

.usefulLinks {
    text-decoration: none;
    background-color: rgb(9, 103, 166);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.usefulLinks:hover {
    opacity: .7;
}

/*
#titleMin {
    align-self: center;
    display: none;
}
*/

#heroImage {
    background-image: url("./images/smlt.jpeg");
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat center fixed;
}

button {
    border: 0;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(22, 156, 246);
    color: white;
    width: 35px;
    height: 37px;
}

button:hover {
    opacity: .7;
}

#menu {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid rgb(9, 78, 124);
    text-align: left;
    padding: 6px;
}
  
tr:nth-child(even) {
   background-color: rgb(207, 229, 244);
}

.timeline {
   margin: 5em auto;
   max-width: 34.15em;
}

.rmCareerCard div,
.contactCard div {
    transition: all 0.3s ease-in-out;
}

.rmCareerCard div:first-of-type:hover,
.contactCard div:first-of-type:hover {
    transform: scale(1.1);
}

.rmCareerCard div,
.contactCard div {
   position: relative;
   z-index: 1;
}

.rmCareerCard:nth-child(odd),
.contactCard:nth-child(odd) {
   border-right: 3px solid rgb(9, 78, 124);
   transform: translateX(-220px);
}

.rmCareerCard:nth-child(even),
.contactCard:nth-child(even) {
   border-left: 3px solid rgb(9, 78, 124);
   transform: translateX(220px);
}

  .rmCareerCard:nth-child(odd)::before, 
  .rmCareerCard:nth-child(even)::before,
  .contactCard:nth-child(odd)::before, 
  .contactCard:nth-child(even)::before {
        content: "";
        background: rgb(9, 78, 124);
        width: 3em;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
  }

  .rmCareerCard:nth-child(odd)::before,
  .contactCard:nth-child(odd)::before {
    right: 0;
  }

  .rmCareerCard:nth-child(even)::before,
  .contactCard:nth-child(even)::before {
    left: 0;
  }

.contactCardContent {
    background-color: rgb(9, 78, 124); 
    width: 400px; 
    height: 180px; 
    border-radius: 15px; 
    display: grid; 
    grid-template-columns: 2; 
    grid-template-rows: 2;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

@media screen and (max-width: 543px){

    #menu {
        display: block;
    }

    .menuItem {
        display: none;
    }

    .vert {
        writing-mode: vertical-lr;
    }

    .contactCardContent{
        transform: scale(.7);
    }
}

@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }

    .timeline .rmCareerCard,
    .timeline .contactCard {
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: 0;
    }

    .timeline .rmCareerCard::before,
    .timeline .contactCard::before {
        content: "";
        width: 0px;
        height: 0em;
    }

}